.main-section{
    background-color: #EAEDF2;
    display: flex;
    padding: 10px;
}
.left{
    width: 45%;
   
}
.left-side{
    background-color: white;
    padding: 0px;
    margin: 0px 10px 0px 0px;
    border: 1px solid #6666;
    border-radius: 5px;
}
.right{
    width: 55%;
    padding: 0 0 0 10px;
}
.right-side{
    background-color: #EAEDF2;
    border: 1px solid #6666;
    border-radius: 5px;

}

.camp-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.camp-main p{
    margin-top: 0;
    margin-bottom: 0;
}
.campaign-info{
    font-size: 20px;
    margin: 0;
    color: black;
    font-family: system-ui;
    font-weight: 500;
    text-align: justify;

}
.remove-bookmark{
    background-color: #FEC107;
    padding: 20px 30px;
    border-radius: 5px;
    color: black;

}
.fas{
    color: black !important;
}

/* bannar image */
.bannar-img{
    padding: 15px 0;
    margin-top: 25px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-top: 1px solid #d3cccc;
    border-bottom: 1px solid #d3cccc;
}
.user-id{
    text-align: left;
    padding:0 0 18px 20px;
    margin-top: 20px;
    font-weight: 500;
    font-family: system-ui;
    border-bottom: 1px solid #d3cccc;
}

/* Traffic type */
.traffic-main{
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #d3cccc;
    padding:0 0 0 0;
    
}
.traffic-type{
    width: 20%;
    
}
.traffic-type p{
    text-align: left;
    padding: 0 0 0 20px;

}
.traffic-items{
    width: 80%;
    padding-bottom: 18px;
}
.item{
    display: inline-block;
    padding: 4px 10px;
    border-radius: 30px;
    border: 1px solid rgb(32, 30, 30);
    color: rgb(48, 42, 42);
    margin: 5px 5px;
}
.item-dif{
    display: inline-block;
    padding: 6px 15px;
    margin: 5px 5px;
    text-decoration: line-through;
}

.text-main{
    display: flex;
    border-bottom: 1px solid #d3cccc;
}
.text-pad{
    margin-top: 20px;
    padding: 0 0 0 20px
;
}

.text-left{
    width: 20%;
    text-align: left;
}
.text-left p{
   
}
.text-right{
    width: 80%;
    text-align: left;
    padding: 0 0 0 45px;

}
.text-right p{

}

.rates-main{
    margin-top: 20px;
    background-color: #F2F2F2;
}
.rate-type{
    padding: 0 0 10px 50px;
}
.rate-head{
    display: flex;
    font-family: system-ui;
    padding: 0 20px;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #d3cccc;
}
a{
    text-decoration: none;
    color: #000;
}
.rate-head2{
    display: flex;
    font-family: system-ui;
    padding: 0 20px;
    justify-content: space-between;
    background-color: #F2F2F2;
    margin-top: 12px;
    
}
.rate-head p{
    font-weight: 400;
    margin-top: 12px;
}
table td{
    margin-top: 12px;
    text-align: center;
}
.fixed{
  padding-left: 60px;
}
.style-under{
    border-bottom: 1px solid #d3cccc;
}

.expire-upper{
    display: flex;
}
.custom-details{
    background-color: #F2F2F2;
    margin-top: 0;
    padding-top: 15px;
}
.custom-landing{
    margin-bottom: 0px;
    padding-bottom: 15px;
}
.custom-bg{
    background-color: white;
}
.camp-description{
    padding: 13px 20px;
    text-align: left;
    background-color: #F2F2F2;
    font-weight: 500;
    font-family: system-ui;
    border-bottom: 1px solid #d3cccc;
   
}
.camp-details{
    text-align: left; 
    padding:10px 20px;
    margin: 0;
    text-align: justify;
    background-color: white;

}
.res-sear{
    margin-top: 20px;
}
.res-details{
    margin: 0px;
}
.link-generate{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d3cccc;
    background-color: white;
}
.link-copy{
    padding: 10px 20px 10px 0;
}
.copy-icon{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;

}
.link-url{
    padding: 10px 0px 2px 2px;
    margin-right: 20px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    background-color: rgb(22 21 21 / 85%);
}

.traffic-select{
    background-color: white;
    padding: 0px 0px 40px 0px;
    border-bottom: 1px solid #d3cccc;
}
.traffic-input{
    display: flex;
    margin: 0 0  0 60px;
}
.traffic-select h4{
    background-color: white;
    margin-bottom: 0;
    padding: 40px 15px 20px 20px;
    text-align: left;

}
.input-add{
    border: 1px solid black;
    padding: 5px 8px;
    border-radius: 5px;
    width:fit-content;
    display: inline-block;
    margin: 0px 0px 0 10px;
}
.radio-input{
    text-align: left;
    margin: 11px 0px 0px 70px;
    border: 0px solid black;
    width: fit-content;
}
.radio-input input{
    height: 40px;
    width: 112%;
    text-align: center;
}

.input-add label{
    margin-left: 5px;
    margin-top: 0;
}
.input-add input{
    width: 15px;
    height: 15px;
}
.subid-add{
    text-align: left;
    padding: 20px;
    
}
.subid-add label{
    margin-right: 20px;
    font-family: system-ui;


}
.subid-add input{
    width: auto;
    height: 40px;

}