.searchText{
    font-size: large;
    font-family: system-ui;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    margin-top: 7px;
   
}
.searchField{
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 0px;
}
.left-item{

}
.searchField:focus{
    background-color: #86b7fe00;
    box-shadow: 0 0 0 0rem rgb(0 0 0 / 0%);
    border-color: black;
}

.trafficType{
    justify-content:center;
    margin: 0px 0 0 0px;
}
.trfficSecelect{
        margin-left: 5px;
    }
.apply-button{
    background-color: #0048BA;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 15px 25px;
    font-weight: 500;
    font-family: system-ui;
    border: 1px solid #0048BA;
}
.apply-button:hover{
    background-color: #0047ba00;
    transition: 1s;
    color: black;
}

.table-box{
    box-shadow: 0 0 6px rgb(152, 158, 161);
    padding: 10px;
}
.table-header{
    background-color:rgba(0, 0, 0, 0.075);
    margin: 10px 10px;
}

th{
    padding: 10px 45px;
}

table tr:hover{
    background-color: rgba(0, 0, 0, 0.075);
}

table td{
    padding: 10px 0px;
    text-align: justify;
}
.id-data{
    text-align: center;
}
.name-data{
    text-align:center;
    color: #0048BA;
    width: 50%;
    font-weight: 400;
    font-family: system-ui;
}
.type-data{
    text-align: center;
}

.fas, .fab{
    color: gray;
    margin-left: 5px;
}

@media only screen and (max-width: 667px) {
    th{
        padding: 5px 10px;
    }
    table td{
        padding: 10px 0px;
        text-align: left;
    }
    
  }
  @media only screen and (max-width:991px) and (min-width:668px){
    th{
        padding: 10px 30px;
    }
  }

  
  @media only screen and (max-width: 1286px) and (min-width:992px) {
    th{
        padding: 7px 5px;
    }
}